{% extends "base.html" %}

{% block title %}果物管理マスタ{% endblock %}

{% block content %}
<h2>果物管理マスタ</h2>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">TOP</a></li>
    <li class="breadcrumb-item active" aria-current="page">果物管理マスタ</li>
  </ol>
</nav>
<div class="table-container">
  <table class="table table-striped table-hover">
    <thead class="table-header">
      <tr>
        <th>ID</th>
        <th>果物名</th>
        <th>単価</th>
        <th>登録日時</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for fruit in fruits %}
      <tr>
        <td>{{fruit.fruit_id}}</td>
        <td>{{fruit.fruit_name}}</td>
        <td>{{fruit.price}}</td>
        <td>{{fruit.updated_at}}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'modify_fruit_master' fruit_id=fruit.fruit_id %}">編集</a>
          <button class="btn btn-danger" onclick="confirmDelete({{fruit.fruit_id}})">削除</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<a class="btn btn-success" href="{% url 'register_fruit_master' %}">新規追加</a>

{% endblock %}
