{% extends "base.html" %}
{% load form_tags %}

{% block title %}果物登録{% endblock %}

{% block content %}
<div class="container container-custom mt-5">
  <div class="card">
    <div class="card-header text-center">
      <h2>果物登録</h2>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          {{ form.fruit_name.label_tag }}
          {{ form.fruit_name|add_class:"form-control" }}
        </div>
        <div class="mb-3">
          {{ form.price.label_tag }}
          {{ form.price|add_class:"form-control" }}
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-custom">登録</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
